Alamofire.framework.coverage.txt
AlamofireObjectMapper.framework.coverage.txt
CardParts.framework.coverage.txt
Differentiator.framework.coverage.txt
FirebaseAuth.framework.coverage.txt
FirebaseCore.framework.coverage.txt
GTMSessionFetcher.framework.coverage.txt
GoogleToolboxForMac.framework.coverage.txt
GoogleUtilities.framework.coverage.txt
ObjectMapper.framework.coverage.txt
PKHUD.framework.coverage.txt
Pods_Songhound.framework.coverage.txt
Pods_SonghoundTests.framework.coverage.txt
RxAtomic.framework.coverage.txt
RxCocoa.framework.coverage.txt
RxDataSources.framework.coverage.txt
RxGesture.framework.coverage.txt
RxSwift.framework.coverage.txt
SonghoundTests.xctest.coverage.txt
SwiftyJSON.framework.coverage.txt
XCTest.framework.coverage.txt
nanopb.framework.coverage.txt
Pods
codesigndoc_exports
.idea/workspace.xml
